.articles-container {
  padding: 160px 30px 80px;

  h3 {
    margin-top: 30px;
    color: var(--black);
  }

  p {
    margin: 15px 0;
    color: var(--grey);
  }

  hr {
    margin: 30px 0;
  }
}
