* {
  margin: 0;
  padding: 0;
  text-align: left;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  border: none;
}
nav {
  background: rgb(234 241 255);
  padding: 20px;
  box-shadow: 0 1px 2px 0px #80808052;
  position: fixed;
  width: 100%;
  z-index: 997;
}
section {
  min-height: 93vh;
  display: flex;
}
.container {
  width: 1300px;
  max-width: 100%;
  margin: auto;
  padding: 0 30px;
}
.nav-inner {
  max-width: 1200px;
  margin: auto;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  min-width: 20px;
}
.links-list {
  list-style: none;
  display: flex;
}
.links-list li {
  margin: 0 10px;
}
