@use "variables";

.projects {
  background: #6176a4;
  padding-top: 10vh;
  * {
    color: #e8efff;
  }
  .title {
    text-align: center;
  }
  .small-title {
    text-align: center;
    margin-bottom: 141px;
    position: relative;
    &::after {
      content: "";
      height: 71px;
      margin: 30px 0 20px;
      width: 1px;
      position: absolute;
      display: block;
      left: 50%;
      background: white;
    }
  }
  .project {
    position: relative;
    height: 33vh;
    padding: 65px 0;
    .title-container {
      position: relative;
      .section-title {
        font-size: 40px;
        position: relative;
        text-shadow: 0 0 3px #00000063;
      }

      .big-letter {
        position: absolute;
        top: 0;
        left: 0;
        font-size: calc((100vw - 50px) * 0.35);
        line-height: 51%;
        color: #6880b5;
      }
    }

    .gallery-container {
      .gallery-item {
        position: relative;
        opacity: 0;
      }
    }
    &.inView {
      .section-title {
        animation: fadeInFromLeft 2s ease-in-out forwards;
      }
      .gallery-item {
        animation: fadeInFromTop 2s ease-in-out forwards;
      }
      .gallery-item:nth-child(1) {
        animation-delay: 0.5s;
      }
      .gallery-item:nth-child(2) {
        animation-delay: 1.5s;
      }
      .gallery-item:nth-child(3) {
        animation-delay: 2.5s;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .project {
    display: flex;
  }
  .title-container {
    width: 30%;
  }
  .gallery-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    .gallery-item {
      width: 30%;
    }
  }
}
